PRIVATE_KEY=your_keeper_private_key_here
ARC_RPC_URL=https://rpc.testnet.arc.network
PAYMENT_SCHEDULER_ADDRESS=0x14553fF66fB3883C87d6ACa3830bE126586D7d4b
FX_POOL_ADDRESS=0xC2F1dceB5E75ba7d926Cc0Ce37284C5236178ba4
